{
  "extends": [
    "@vadistic/eslint-config",
    "@vadistic/eslint-config/react",
    "@vadistic/eslint-config/prettier"
  ],

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
